html, body {
  font-family: sans-serif;
  background: white;
}


.lp-menu-container, .lp-header-container, .lp-logo-container {
  flex: 1;
  display: flex;
  color: white;
}

.lp-sidebar {
  width: 100%;
}

.lp-menu-button {
  margin: 30px;
}

.lp-menu-button:hover {
  filter: brightness(110%);
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  padding-top: 10%;
  transition: .7s ease-in-out;
}

/* The navigation menu links */
.sidenav a {
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s
}

.sidenav a:hover {
  color: white;
}

.sidenav-icon {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  font-size: 24px;
}


/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 25px;
  right: 20px;
  font-size: 40px;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

.lp-header-container {
  justify-content: center;
  align-items: center;
}

.lp-header {
  display: flex;
  align-items: center;
  background-color: black;
  padding: 30px;
  border-radius: 3px;
  cursor: default;  
}

.lp-header-name {
  float: left;
  margin-right: 15px;
  padding-right: 10px;
  border-right: 1px solid white;
}

.lp-header-name h1 {
  font-size: 42px;
  padding: 0;
  margin: 0;
}

.lp-header-extra p {
  font-size: 18px;
  line-height: 1;
}

.lp-logo-container {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.lp-logo-about-me {
  font-size: 24px;
  margin: 30px;
  border: 1px solid white;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  cursor: pointer;
  padding: 15px;
  font-weight: bold;
}

.lp-logo-about-me:hover {
  background: rgba(0, 0, 0, 0.4);
}

.lp-resume-download {
  font-size: 20px;
  margin: 30px;
}

/* ----- About Me Section ------ */

.about-me-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-me {
  background: white;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
}

.about-me-text, .about-me-img {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.about-me-text {
  padding: 30px@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
  ;
}

.about-me-text h1 {
  font-weight: bold;
  font-size: 3.8rem;
  text-align: center;
  padding: 0;
  margin: 0;
}

.about-me-text h2 {
  font-weight: lighter;
  color: gray;
  font-size: 2.2rem;
  text-align: center;
  padding: 0;
  margin: 0;
}

.about-me-text p {
  font-size: 1.4rem;
  padding: 0 20px;
}

.about-me-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me-img img {
  transform: scale(0.9);
}


/* ----- Split Screen Section ------- */

/* Variables for split-screen animations */
:root {
  --container-color: #333;
  --left-color: rgba(232, 74, 39, 0.7);
  --mid-color: rgba(39, 197, 232, 0.7);
  --right-color: rgba(19, 41, 75, 0.7);
  --hover-width: 40%;
  --other-width: 30%;
  --speed: 1000ms;
}

#root {
  height: 100%;
}

.ss-button {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 4rem;
  width: 15rem;
  padding-top: 1.2rem;
  transform: translateX(-50%); 
}

.ss-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background: rgb(39, 197, 232);
}

.split {
  position: relative;
  font-size: 42px;
  width: 33%;
  height: 100vh;
  overflow: hidden;
}

.split h1 {
  color: white;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.split.left {
  float: left;
  background-color: #E84A27;
  background-size: cover;
}

.split.left:before {
  position:absolute;
  content: "";
  width: 100%;
  height: 100vh;
  background: var(--left-color);
}

.split.mid {
  float: left;
  background-color: rgb(39, 197, 232);
  background-size: cover;
}

.split.mid:before {
  position:absolute;
  content: "";
  width: 100%;
  height: 100vh;
  background: var(--mid-color);
}

.split.right {
  float: left;
  position: absolute;
  right: 0;
  background-color: #13294b;
  background-size: cover;
}

.split.right:before {
  position:absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--right-color);
}

.split.left, .split.left:before, .split.mid, .split.mid:before, .split.right, .split.right:before {
  transition: var(--speed) all ease-in-out;
}

.hover-left .left {
  width: var(--hover-width);
}

.hover-left .mid, .hover-left .right {
  width: var(--other-width);
}

.hover-left .mid:before, .hover-left .right:before {
  z-index: 2;
}

.hover-mid .mid {
  width: var(--hover-width);
}

.hover-mid .left, .hover-mid .right {
  width: var(--other-width);
}

.hover-mid .left:before, .hover-mid .right:before {
  z-index: 2;
}

.hover-right .right {
  width: var(--hover-width);
}

.hover-right .left, .hover-right .mid {
  width: var(--other-width);
}

.hover-right .left:before, .hover-right .mid:before {
  z-index: 2;
}

@media(max-width: 1024px) {
  .split h1 {
    font-size: 3rem;
  }

  .ss-button {
    width: 12rem;
  }
}

@media(max-width: 800px) {
  .split h1 {
    font-size: 2rem;
  }
}

@media(max-height: 700px) {
  .ss-button {
    top: 70%;
  }
}


.ui.huge.center.aligned.header {
  margin: 0;
}


.ui.courseNumber {
  padding: 30px 50px;
  white-space: nowrap;
}

.ui.items>.item>.content>.description {
  font-size: 16px;
}

.resume-container {
  margin: 50px 0;
  padding: 40px;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.4);
  border: .5px solid #13294b;
}

.column.language img {
  height: 100px;
  widows: 100px;
  margin: auto;
}

.research-list {
  margin-top: 10px;
  height: 100%;
}

.resume-menu-title {
  display: flex;
  align-items: center;
}

.resume-menu-title h1 {
  padding: 0;
  margin: 0;
  flex: .9;
  text-align: center;
  font-size: 32px;
}

.research-image {
  width: 100%;
  height: 600px;
  opacity: 0.7;
}

.research-content {
  position: relative;
  background-color: #e6e6e6;
  line-height: 3;
}

.research-content-text {
  padding: 60px 80px;
  font-size: 18px;
}

.research-content-text p {
  line-height: 2;
}

.footer-container a {
  color: white;
}